In [1]:
#Importing libraries
import csv
import os
import pandas as pd

In [2]:
#path to csv file
csvpath = os.path.join('Resources', 'purchase_data.csv')

In [3]:
#opening and converting the csv to a dataframe
purchases_df = pd.read_csv(csvpath)

#retrieving a list with all the individual players
player_list = purchases_df["SN"].unique()

#obtaining total number of players
total_players = len(player_list)

#formatting the output as dataframe
total_players_df = pd.DataFrame({"Total players":[total_players]})
total_players_df

   Total players
0            576

In [4]:
#doing purchasing analysis

#obtaining the number of unique items sold
items_list = purchases_df["Item Name"].unique()
total_items = len(items_list)

#obtaining the average purchase price
average_purchase = purchases_df["Price"].mean()

#obtaining total number of purchases
#using Purchase ID to count since it's the column less likely to have missing values
total_purchases = purchases_df["Purchase ID"].count()

#obtaining total revenue
total_revenue = purchases_df["Price"].sum()

#formatting the output
#creating the dataframe
purchases_results_df = pd.DataFrame({"Unique items sold":[total_items],
                                     "Total purchases":[total_purchases],
                                     "Average purchase":[average_purchase],
                                     "Total revenue":[total_revenue]})
purchases_results_df

   Unique items sold  Total purchases  Average purchase  Total revenue
0                179              780          3.050987        2379.77

In [5]:
#gender demographics analysis

#creating a new dataframe witout duplicated players
player_gender_df = purchases_df.copy(deep=True)
player_gender_df.drop_duplicates(subset="SN", keep = 'first', inplace=True)

#obtaining all data necessary for calculations
counted_gender = player_gender_df["Gender"].value_counts()
male_count = counted_gender["Male"]
female_count = counted_gender["Female"]
other_count = counted_gender["Other / Non-Disclosed"]

#creating the output dataframe
gender_results_df = pd.DataFrame({" ":["Male", "Female", "Other / Non Disclosed"],
                                 "Total Count":[male_count, female_count, other_count],
                                 "Percentage of Players":[male_count/total_players,
                                                          female_count/total_players,
                                                          other_count/total_players]})

gender_results_df

                          Total Count  Percentage of Players
0                   Male          484               0.840278
1                 Female           81               0.140625
2  Other / Non Disclosed           11               0.019097

In [6]:
#purchasing analysis by gender

#slicing the dataframe by gender
male_df = purchases_df.loc[(purchases_df['Gender'] == 'Male'), :]
female_df = purchases_df.loc[(purchases_df['Gender'] == 'Female'), :]
other_df = purchases_df.loc[(purchases_df['Gender'] == 'Other / Non-Disclosed'), :]

#obtaining purchase count
male_purchases = len(male_df)
female_purchases = len(female_df)
other_purchases = len(other_df)

#obtainin total purchase value
male_total = male_df['Price'].sum()
female_total = female_df['Price'].sum()
other_total = other_df['Price'].sum()

#obtaining average purchase
male_avg = male_total / male_purchases
female_avg = female_total / female_purchases
other_avg = other_total / other_purchases

#obtaining average purchase by player by gender
male_p_avg = male_total / male_count
female_p_avg = female_total / female_count
other_p_avg = other_total / other_count


#building the results dataframe
results_df = pd.DataFrame({'Gender': ['Female', 'Male', 'Other / Non Disclosed'],
                          'Number of Purchases': [female_purchases, male_purchases, other_purchases],
                          'Total Purchase Value': [female_total, male_total, other_total],
                          'Average Purchase': [female_avg, male_avg, other_avg],
                          'Average Purchase by Player': [female_p_avg, male_p_avg, other_p_avg]})

results_df

,Gender,Number of Purchases,Total Purchase Value,Average Purchase,Average Purchase by Player
0,Female,113,361.94,3.203009,4.468395
1,Male,652,1967.64,3.017853,4.065372
2,Other / Non Disclosed,15,50.19,3.346000,4.562727

In [51]:
#age analysis

#creating the bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bins_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '34-39', '>40']

binned_players = purchases_df.copy(deep=True)
binned_players['Age Bin']= pd.cut(purchases_df['Age'], bins, labels = bins_labels, include_lowest = True)

binned_players

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bin
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [52]:
#Age demographic analysis

#binned dataframe for unique players
binned_unique_players = binned_players.copy(deep=True)
binned_unique_players.drop_duplicates(subset="SN", keep = 'first', inplace=True)

#obtaining number of players by age bin
player_count_age = binned_unique_players.groupby('Age Bin').count().reset_index()

#dropping uneccesary columns
player_count_age = player_count_age[['Age Bin', 'Purchase ID', 'SN']]

#calculating percentage
player_count_age['SN'] = player_count_age['SN'] / total_players

player_count_age

  Age Bin  Purchase ID        SN
0     <10           17  0.029514
1   10-14           22  0.038194
2   15-19          107  0.185764
3   20-24          258  0.447917
4   25-29           77  0.133681
5   30-34           52  0.090278
6   34-39           31  0.053819
7     >40           12  0.020833

In [53]:
#Age purchase Analysis

#purchase count
grouped_age_purchases = binned_players.groupby('Age Bin')
age_purchases = pd.DataFrame(grouped_age_purchases['Purchase ID'].count()).reset_index()

#average purchase
avg_age_purchases = binned_players.groupby('Age Bin').mean()
avg_age_purchases = pd.DataFrame(avg_age_purchases['Price']).reset_index()

#total purchase value
total_age_purchases = binned_players.groupby('Age Bin').sum()
total_age_purchases = pd.DataFrame(total_age_purchases['Price']).reset_index()

#average purchase by person



#number of unique players by bin
players_by_bin = binned_unique_players.groupby('Age Bin').count()
players_by_bin = pd.DataFrame(players_by_bin['Purchase ID']).reset_index()

#computing the average
avg_unique_age_purchases = total_age_purchases['Price'] / players_by_bin['Purchase ID']

#building the results dataframe
results_age = pd.DataFrame(age_purchases).reset_index(drop=True)
results_age = pd.merge(results_age, avg_age_purchases, on='Age Bin')
results_age = pd.merge(results_age, total_age_purchases, on='Age Bin')
results_age['Average by Player'] = avg_unique_age_purchases

#renaming columns
results_age = results_age.rename(columns = {'Purchase ID': 'Purchase Count',
                                           'Price_x': 'Average Purchase',
                                           'Price_y': 'Total Purchases'})

results_age

,Age Bin,Purchase Count,Average Purchase,Total Purchases,Average by Player
0,<10,23,3.353478,77.13,4.537059
1,10-14,28,2.956429,82.78,3.762727
2,15-19,136,3.035956,412.89,3.858785
3,20-24,365,3.052219,1114.06,4.318062
4,25-29,101,2.900990,293.00,3.805195
5,30-34,73,2.931507,214.00,4.115385
6,34-39,41,3.601707,147.67,4.763548
7,>40,13,2.941538,38.24,3.186667

In [ ]:
avg_unique_age_purchases