In [1]:
#Importing libraries
import csv
import os
import pandas as pd

In [2]:
#path to csv file
csvpath = os.path.join('Resources', 'purchase_data.csv')

In [3]:
#opening and converting the csv to a dataframe
purchases_df = pd.read_csv(csvpath)

#retrieving a list with all the individual players
player_list = purchases_df["SN"].unique()

#obtaining total number of players
total_players = len(player_list)

#formatting the output as dataframe
total_players_df = pd.DataFrame({"Total players":[total_players]})
total_players_df

   Total players
0            576

In [4]:
#doing purchasing analysis

#obtaining the number of unique items sold
items_list = purchases_df["Item Name"].unique()
total_items = len(items_list)

#obtaining the average purchase price
average_purchase = purchases_df["Price"].mean()

#obtaining total number of purchases
#using Purchase ID to count since it's the column less likely to have missing values
total_purchases = purchases_df["Purchase ID"].count()

#obtaining total revenue
total_revenue = purchases_df["Price"].sum()

#formatting the output
#creating the dataframe
purchases_results_df = pd.DataFrame({"Unique items sold":[total_items],
                                     "Total purchases":[total_purchases],
                                     "Average purchase":[average_purchase],
                                     "Total revenue":[total_revenue]})
purchases_results_df

   Unique items sold  Total purchases  Average purchase  Total revenue
0                179              780          3.050987        2379.77

In [5]:
#gender demographics analysis

#creating a new dataframe witout duplicated players
player_gender_df = purchases_df
player_gender_df.drop_duplicates(subset="SN", keep = 'first', inplace=True)

player_gender_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19