In [4]:
#Importing libraries
import csv
import os
import pandas as pd

In [5]:
#path to csv file
csvpath = os.path.join('Resources', 'purchase_data.csv')

In [56]:
#opening and converting the csv to a dataframe
purchases_df = pd.read_csv(csvpath)

#retrieving a list with all the individual players
player_list = purchases_df["SN"].unique()

#obtaining total number of players
total_players = len(player_list)

#formatting the output as dataframe
total_players_df = pd.DataFrame({"Total players":[total_players]})
total_players_df

   Total players
0            576

In [53]:
#doing purchasing analysis

#obtaining the number of unique items sold
items_list = purchases_df["Item Name"].unique()
total_items = len(items_list)

#obtaining the average purchase price
average_purchase = purchases_df["Price"].mean()

#obtaining total number of purchases
#using Purchase ID to count since it's the column less likely to have missing values
total_purchases = purchases_df["Purchase ID"].count()

#obtaining total revenue
total_revenue = purchases_df["Price"].sum()

#formatting the output
#creating the dataframe
purchases_results_df = pd.DataFrame({"Unique items sold":[total_items],
                                     "Total purchases":[total_purchases],
                                     "Average purchase":[average_purchase],
                                     "Total revenue":[total_revenue]})
purchases_results_df

   Unique items sold  Total purchases  Average purchase  Total revenue
0                179              780          3.050987        2379.77

3.050987179487176